<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMNICE</title>
    <link rel="stylesheet" href="/static/base.html.css">
</head>
<body>
    <header>
        <h1>NICE Password Manager</h1>
    </header>
    <main>
        <section>
            <p>Keep your passwords safe at all times!</p>
            {% block html_body %}{% endblock %}
            <p>
                <a href="/">Back to main page</a>
            </p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Password Manager</p>
    </footer>
</body>
</html>